{{/* Pages Widget */}}
{{/* https://wowchemy.com/docs/widget/ */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}

{{ $items_count := $st.Params.content.count }}
{{ if eq $items_count 0 }}
  {{ $items_count = 65535 }}
{{ else }}
  {{ $items_count = $items_count | default 5 }}
{{ end }}

{{ $username := $st.Params.content.username }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}">
  {{ with $st.Content }}{{ . }}{{ end }}
  <devto-latest-articles username="{{ $username }}" len="{{ $items_count }}"></devto-latest-articles>
</div>
